.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Asegúrate de que ocupe toda la altura de la ventana */
  padding: 0 20px;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 500px; /* Ajusta el ancho máximo del contenedor según lo desees */
}

.logo {
  display: flex;
  align-items: center;
  margin-bottom: 20px; /* Ajusta el margen según sea necesario */
}

.logo img {
  height: 30px;
  margin-right: 10px;
}

.search {
  display: flex;
  align-items: center;
  margin-bottom: 20px; /* Ajusta el margen según sea necesario */
}

.search input {
  padding: 5px 10px;
  border: 1px solid #ced4da;
  border-radius: 4px 0 0 4px;
  outline: none;
}

.search button {
  background-color: transparent;
  border: 1px solid #ced4da;
  border-left: none;
  border-radius: 0 4px 4px 0;
  padding: 5px 10px;
  cursor: pointer;
}

.search button img {
  height: 20px;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.login-form h2 {
  margin-bottom: 20px; /* Ajusta el margen según sea necesario */
}

.form-group input {
  width: 100%;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

.rounded-pill {
  border-radius: 50rem !important;
}

.custom-control-label {
  margin-left: 5px;
}

.form-center {
  justify-content: center;
  align-items: center; /* Centra el texto y los elementos en el formulario */
}

.text-center {
  text-align: center; /* Centra el contenido dentro del contenedor */
}

.text-danger {
  color: red;
}
