@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.moving-banner {
  width: 100%;
  background-color: #ffffff; 
  color: #000; 
  overflow: hidden;
  white-space: nowrap;
  padding: 10px 0; 
  position: relative;
}

.moving-banner-content {
  display: inline-flex;
  width: 200%; 
  animation: marquee 10s linear infinite; 
}

.moving-banner-content span {
  display: inline-block;
  width: 50%; 
  font-size: 30px; 
  font-weight: 1000; 
  font-family: 'Arimo', sans-serif;  
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
