@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
  font-family: 'Arimo', sans-serif;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-content: center;
}

.pagination-controls {
  margin-top: 20px; 
  text-align: center; /* Centrar los botones de paginación */
}

.pagination-controls button {
  background-color: #02010198; /* Fondo negro */
  color: #fdfdfd; /* Texto negro */
  border: none;
  border-radius: 10%; /* Botones redondos */
  padding: 10px 15px; /* Ajustar tamaño del botón */
  font-family: 'Arimo', sans-serif; /* Fuente Arimo */
  font-size: 14px; /* Tamaño de la fuente */
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.pagination-controls button:hover {
  background-color: #333; /* Fondo negro más oscuro en hover */
  color: #fff; /* Texto blanco en hover */
}

.pagination-controls span {
  font-family: 'Arimo', sans-serif; /* Fuente Arimo */
  font-size: 14px; /* Tamaño de la fuente */
  color: #000; /* Texto negro */
  margin: 0 10px; /* Espaciado entre botones y texto */
}

/* Responsive design */
@media (max-width: 768px) {
  .product-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .product-grid {
    grid-template-columns: 1fr;
  }
}
