.gradient-custom {
  /* fallback for old browsers */
  background: #fafafa;
  
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgb(255, 255, 255), rgb(255, 255, 255));
  
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgb(255, 255, 255), rgb(255, 255, 255))
  }

  .custom-checkout-button {
    background-color: #d74a2b;; /* Reemplaza #yourColorCode con el código del color deseado */
    border-color: #d74a2b;; /* Opcional, si también quieres cambiar el borde */
  }
  
  .custom-checkout-button:hover {
    background-color: #d74a2b;; /* Reemplaza #yourHoverColorCode con el color deseado para el hover */
  }
