@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
  font-family: 'Arimo', sans-serif;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: #333333; /* Fondo #333333 */
  box-shadow: 0 2px 4px rgba(51, 51, 51, 0.1); /* Sombra sutil */
  border-radius: 0 0 5px 5px;
  margin-bottom: 3rem;
}

.logo {
  display: flex;
  align-items: center;
  flex-direction: column; 
  margin-right: 15px;
  margin-top: 2px;
}

.logo img.large-icon {
  height: 40px; 
  width: auto; 
  margin-bottom: 5px; 
}

.brand-text {
  text-align: center; 
}

.logo .navbar-brand {
  font-family: 'Arimo', sans-serif; 
  font-size: 10px; 
  color: #ffffff; /* Color del texto del logo */
  font-weight: 1000; 
  letter-spacing: 0.8em; 
}

.text-special {
  font-family: 'Arimo', sans-serif; 
  font-size: 15px;
  color: #FFFFFF; /* Color blanco */
  text-decoration: none;
}

.search {
  display: flex;
  align-items: center;
  flex-grow: 1;
  max-width: 600px;
  margin: 0 auto;
  border-radius: 8px 0 0 8px;
  margin-top: 20px;
}

.search input {
  padding: 10px;
  border: 1px solid #ced4da; /* Contorno gris suave */
  border-radius: 8px 0 0 8px;
  outline: none;
  width: 100%;
  font-size: 16px;
  color: #333333; /* Texto del input */
}

.search input::placeholder {
  color: #ced4da; /* Placeholder gris claro */
}

.search button {
  background-color: transparent;
  border: 1px solid #ced4da; /* Contorno gris suave */
  border-left: none;
  border-radius: 0 8px 8px 0;
  padding: 10px;
  cursor: pointer;
}

.search button img {
  height: 24px;
  filter: brightness(0) invert(1); /* Cambia el icono a blanco */
}

.nav-icons {
  display: flex;
  align-items: center;
}

.nav-icons a {
  position: relative;
  margin-left: 20px;
  text-decoration: none;
}

.nav-icons img {
  height: 35px;
  filter: brightness(0) invert(1); /* Cambia los íconos a blanco */
}

.badge {
  position: absolute;
  top: -5px;
  right: -10px;
  background-color: #FF4500; /* Color del badge */
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 12px;
}

.navbar-link:hover {
  color: #FF4500; /* Hover en los enlaces */
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: center;
  }

  .search {
    width: 100%;
    margin: 10px 0;
  }

  .nav-icons {
    width: 100%;
    justify-content: center;
  }
}

@media (max-width: 480px) {
  .navbar {
    padding: 10px;
  }

  .search input {
    max-width: 100%;
  }
}
